<div class="flex--column flex--center-content">
  <h2>Log in</h2>

  <div class="pui-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <label class="pui-form__field">Email
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </label>

      <label class="pui-form__field">Password
        <%= f.password_field :password, autocomplete: "current-password" %>
      </label>

      <% if devise_mapping.rememberable? %>
        <fieldset class="pui-form__field mb-5">
          <legend>Remember Me</legend>
          <div class="pui-form__option-group">
            <%= f.check_box :remember_me, class: 'pui-form__checkbox', id: 'remember-me' %>
            <label for="remember-me">
              <div class="input-icons">
                <i class="pi-circle"></i>
                <i class="pi-check pi-heavy"></i>
              </div>
            </label>
          </div>
        </fieldset>
      <% end %>

      <div class="actions">
        <%= f.submit("Log in", class: 'button button--lg') %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>