<h1>All Schools</h1>

<table class="pui-table my-3">
  <thead>
    <tr>
      <th>School</th>
      <th>Name</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |s| %>
      <% if s.approved %>
        <tr>
          <td data-label="name">
            <%= s.schoolName %>
          </td>
          <td>
            <%= s.firstName %> <%= s.lastName %>
          </td>
          <td>
            <%= s.city %>, <%= s.state %>
          </td>
          <td>
            <%= link_to("/schools/#{s.slug}") do %>
              <i class="pi-edit"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>