<!DOCTYPE html>
<html>
  <head>
    <title>Message System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@ritterim/platform-ui@0.9.47/dist/platform-ui.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header background-med-blue site-menu-wrapper py-3 px-3 ">
      <div class="block-container flex--justify-between">
        <div class="text-white py-2">
          MA
        </div>
        <nav class="site-menu background-med-blue inverted">
          <div class="site-menu__item py-2">
            <a href="#" class="site-menu__link">
              About
            </a>
          </div>
          <div class="site-menu__item py-2">
            <a href="#" class="site-menu__link">
              Logout
            </a>
          </div>
        </nav>
      </div>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="block-container mx-7">
      <%= yield %>
    </div>
  </body>
</html>
