<!DOCTYPE html>
<html>
  <head>
    <title>Message System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@ritterim/platform-ui@0.9.47/dist/platform-ui.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header background-med-blue site-menu-wrapper py-3 px-3 mb-3">
      <div class="block-container flex--justify-between">
        <div class="text-white py-2">
        </div>
        <nav class="site-menu background-med-blue inverted">
          <% if user_signed_in? %>
            <div class="site-menu__item py-2">
              <%= link_to  "Posts", school_path(current_user.slug), class: 'site-menu__link' %>
            </div>
            <div class="site-menu__item py-2">
              <%= link_to  "Edit", edit_school_path(current_user.slug), class: 'site-menu__link' %>
            </div>
            <div class="site-menu__item py-2">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'site-menu__link' %>    
            </div>
            <% end %>
        </nav>
      </div>
    </header>

    <div class="block-container mx-7">
      <% if notice %>
        <div class="pui-message pui-message--warning">
          <p><%= notice %></p>
        </div>
      <div>
      <% end %>
      <% if alert %>
        <div class="pui-message pui-message--error">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
